node_modules
dist
dist-ssr
*.local
coverage
junit.xml
#env vars
.env
.env.*
.env.local
.env.development
.env.test
.env.production
!.env.example
.DS_Store
# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# firebase
.firebase
# editor
.vscode
.idea
node_modules
